/**
    Responsive pour les écrans, de 0px à 1000px
*/
@media screen and (max-width: 1000px) {
    main:not(#login) {
        justify-content: flex-start;
    }
    #container {
        width: 100vw;
        min-width: 100vw;
        height: 85vh;
    }
    #container #leftArrow {
        left: 50px;
        top: 87vh;

        position: fixed;
    }
    #container #rightArrow {
        right: 50px;
        top: 87vh;

        position: fixed;
    }
    #container section article {
        width: 100%;
    }

    nav {
        width: 100%;

        bottom: 20px;
        left: 0;
    }
    nav ul {
        padding: 0;
        margin: 0;

        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    nav ul li {
        margin: 0;

        font-size: 1.3rem;
    }
    nav ul li a {
        color: #000000;
    }
}

/**
    Responsive pour les écrans, de 0px à 700px
*/
@media screen and (max-width: 700px) {
    #admin #container {
        width: 100vw;
        min-width: 100vw;
    }
    #admin #container form {
        width: 100%;
    }
    #admin #container form input {
        width: 100vw;
    }
    #admin #container form button {
        width: 100%;

        font-size: .6rem;
    }
    nav ul{
        flex-direction: column;
    }
}

/**
    Responsive pour les écrans, de 0px à 250px
*/
@media screen and (max-width: 250px) {
    #login #container {
        width: 100vw;
        min-width: 100vw;
    }
    #login #container form {
        width: 100%;
    }
    #login #container form input {
        width: 100vw;
    }
    #login #container form button {
        width: 100%;

        font-size: .6rem;
    }
    nav ul li {
        font-size: 1rem;
    }
}



/**
    Responsive pour la hauteur de page
*/
@media screen and (max-height: 800px) {
    #admin #container {
        max-height: 600px;
        height: 600px;
    }
}
@media screen and (max-height: 700px) {
    #admin #container {
        max-height: 500px;
        height: 500px;
    }
}
@media screen and (max-height: 600px) {
    #container #leftArrow,
    #container #rightArrow {
        width: 40px;
        height: 40px;

        bottom: 0;
        position: fixed;
    }
    #admin #container {
        max-height: 400px;
        height: 400px;
    }
}
@media screen and (max-height: 500px) {
    nav {
        position: sticky;
    }
}