@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "Montserrat-Light";
    src: url("../fonts/Montserrat-Light.ttf");
}

h1, h2, h3, h4, h5, h6, a {
    margin: 0;
}

input, button, textarea {
    font-family: "Montserrat-Regular", sans-serif;
}

body {
    --color-gray: #CACBD1;
    --color-dark-gray: #AFACAC;
    --color-light-gray: #F9F7F3;
    --color-orange: #FFB300;
    --color-blue: #3949AB;
    --color-silver: #DBDBDB;
    --topBar-height: 7px;

    font-family: "Montserrat-Regular", sans-serif;
    background-color: var(--color-light-gray);

    margin: var(--topBar-height) 0 0 0;
}

#topBar {
    width: 100%;
    height: var(--topBar-height);

    background-color: var(--color-orange);

    position: fixed;
    top: 0;
    left: 0;
}

.upper::first-letter {
    text-transform: uppercase;
}


/*
    Section Menu - Admin
*/
nav {
    position: fixed;


    z-index: 2;
}
nav ul {
    list-style: none;
}
nav ul li {
    margin: 10px 0;

    transition: all 0.2s ease-in-out;
}
nav ul li a {
    text-decoration: none;
    color: var(--color-dark-gray);
}
nav ul li:hover {
    transform: scale(1.05);
    cursor: pointer;
}
/*
    ------- FIN - Section Menu - Admin
*/

main {
    width: 100%;
    height: calc(100vh - var(--topBar-height));

    min-height: 550px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

#container {
    width: 50vw;
    height: 60vh;

    max-width: 1200px;

    min-width: 700px;
    min-height: 500px;

    background-color: var(--color-gray);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: relative;
}

/*
    Section Admin
*/
#admin #container{
    width: 700px;
    height: auto;

    min-width: 200px;
    min-height: auto;

    background: transparent;
}
#admin #container section {
    width: 100%;
    height: 700px;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    margin: 0;

    padding: 0 20px;
    box-sizing: border-box;

    overflow: auto;
}
#admin #container section article[data-type="edited"] {
    background-color: var(--color-orange);
}
#admin #container section article {
    width: 100%;
    max-width: 100%;

    min-height: 80px;
    height: 80px;

    background-color: var(--color-dark-gray);

    margin: 10px 0;

    padding: 0 5%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-radius: 5px;

    transition: all 0.2s ease-in-out;
}
#admin #container section article:hover {
    transform: scale(1.03);
}
#admin #container section article h3 {
    font-family: "Montserrat-Light", sans-serif;
    font-size: 2rem;
    font-weight: lighter;

    color: var(--color-light-gray)
}
#admin #container section article h3 input {
    display: none;
}
#admin #container section article[data-type="edited"] h3 span {
    display: none;
}
#admin #container section article[data-type="edited"] h3 input {
    display: inline;
}

#admin #container section article .buttons button[data-show="edited"] {
    display: none;
}
#admin #container section article[data-type="edited"] .buttons button[data-show="edited"] {
    display: inline;
}
#admin #container section article[data-type="edited"] .buttons button:not([data-show="edited"]) {
    display: none;
}
#admin #container section article .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

}
#admin #container section article .buttons button {
    transition: all 0.2s ease-in-out;
    border: 0;
    background-color: transparent;

    box-sizing: border-box;
}
#admin #container section article .buttons button img {
    width: auto;
    height: 30px;
}
#admin #container section article .buttons button:hover {
    transform: scale(1.05);
    cursor: pointer;
}
/*
    ------- FIN - Section Admin
*/

/*
    Section Connexion
*/
#login #container {
    width: 350px;
    height: 300px;

    min-width: 200px;
    min-height: 200px;

    border-radius: 5px;
}
#login #container form {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
#login #container form input {
    width: 230px;
    height: 40px;

    padding-left: 10px;
    box-sizing: border-box;

    border: 0;
    background-color: var(--color-silver);
}
#login #container form button {
    width: 170px;
    height: 40px;

    border: 0;

    background-color: var(--color-orange);
    font-family: "Montserrat-Bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    cursor: pointer;
}

/*
    ------- FIN - Section Connexion
*/

#container .title {
    width: 100%;

    font-family: "Montserrat-Light", sans-serif;
    font-size: 4.5rem;
    font-weight: lighter;

    color: var(--color-light-gray);

    text-align: center;
}

#container #leftArrow,
#container #rightArrow {
    width: 80px;
    height: 80px;

    position: absolute;
    top: calc(50% - 40px);

    cursor: pointer;
}

#container #leftArrow {
    left: -160px;

    background-image: url("../img/left_arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}
#container #rightArrow {
    right: -160px;

    background-image: url("../img/right_arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

#container section {
    width: 100%;
    height: 97%;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;

    margin-top: 3%;

    overflow: auto;
}
#container section article {
    width: 40%;
    max-width: 400px;

    min-height: 270px;
    height: auto;

    background-color: var(--color-dark-gray);

    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#container section article img {
    width: 50%;
}
#container section article h3 {
    font-family: "Montserrat-Light", sans-serif;
    font-size: 2rem;
    font-weight: lighter;

    color: var(--color-light-gray)
}

/**
    Sélection des mois
*/
#selectionMonths[data-show="false"] {
    display: none;
}
#selectionMonths[data-show="true"] {
    display: flex;
}
#selectionMonths {
    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;
    position: fixed;

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.49);
    z-index: 3;
}
#selectionMonths .buttons {
    width: 300px;
    height: 500px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;

    background-color: #EDEDED;
    z-index: 4;
}
#selectionMonths .buttons button {
    min-width: 100px;
    width: auto;
    height: 40px;

    padding: 10px;
    margin: 10px 20px;

    box-sizing: border-box;

    background-color: var(--color-gray);
    border: 0;
    cursor: pointer;
}

#selectionMonths .buttons button[data-selected="true"] {
    background-color: var(--color-dark-gray);
}
/**
   ------- FIN - Sélection des mois
*/